.intro {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 830px;
}

.intro__title {
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  width: 100%;
  margin: 0;
}

.intro__appointment {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  width: 738px;
}

.intro__appointment--text {
  margin: 40px 0 0 0;
}

.intro__appointment--author {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  display: flex;
  justify-content: end;
  width: 732px;
  margin: 10px 0 0 0;
}

.intro__text {
  font-size: 16px;
  line-height: 163%;
  font-weight: 400;
  width: 722px;
  margin: 32px auto 0;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 720px;
    margin: auto;
  }

  .intro__title {
    font-size: 45px;
    line-height: 49px;
    max-width: 707px;
  }

  .intro__appointment {
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    width: 100%;
  }

  .intro__appointment-text {
    margin: 50px 0 0 0;
  }

  .intro__appointment-author {
    margin: 0;
    width: 100%;
  }

  .intro__text {
    width: 100%;
  }
}

@media screen and (max-width: 544px) {
  .content {
    padding: 64px 16px 62px 16px;
  }
  .intro {
    max-width: 288px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    width: 100%;
  }

  .intro__appointment {
    font-size: 24px;
    line-height: 34px;
    width: 100%;
  }

  .intro__appointment-author {
    margin: 10px 0 0 0;
    width: 100%;
  }

  .intro__text {
    font-size: 16px;
    line-height: 163%;
    width: 100%;
  }
}
